

<div class="mat-elevation-z8 demo-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    @for (column of columnsToDisplay; track column) {
      @if(column.endsWith('Date')){
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef style="text-transform: uppercase;"> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            {{element[column] | date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>
      }@else if('action' === column){
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">

            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit row</span>
              </button>
              <button mat-menu-item (click)="remove(element)">
                <mat-icon>delete</mat-icon>
                <span>Delete row</span>
              </button>
            </mat-menu>


          </td>
        </ng-container>
      } @else {
        <ng-container matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef style="text-transform: uppercase;"> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            {{element[column]}}
          </td>
        </ng-container>
      }

    }
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
