<div class="sidenav-header">
<!--
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
      <h2>Prueba</h2>
      <p>Test</p>
  </div>
-->
</div>
<mat-nav-list>
  @for (item of items; track item) {
    <a mat-list-item
      [routerLink]="item.route"
      routerLinkActive
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      @if(!sideNavCollapsed()){
        <span matListItemTitle>{{ item.label }}</span>
      }

    </a>
  }
</mat-nav-list>
