
<div class="table-container">

  <div class="demo-button-container" style="text-align: right;">
    <mat-form-field style="width: 30%; margin-right: 15px; height: 70px;">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input clear>
    </mat-form-field>
    <button mat-mini-fab (click)="addData()" class="demo-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z8 demo-table">
    <table mat-table [dataSource]="dataSource">

      @for (column of columnsToDisplay; track column) {

        @switch (column) {
          @case ('startDate') {
            <ng-container matColumnDef="{{column}}">
              <th mat-header-cell *matHeaderCellDef style="text-transform: uppercase;"> {{column}} </th>
              <td mat-cell *matCellDef="let element">
                @if(element.editing){
                  <mat-form-field class="input">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="element[column]">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                }@else {
                  {{element[column] | date: 'dd/MM/yyyy'}}
                }
              </td>
            </ng-container>
          }
          @case ('endDate') {
            <ng-container matColumnDef="{{column}}">
              <th mat-header-cell *matHeaderCellDef style="text-transform: uppercase;"> {{column}} </th>
              <td mat-cell *matCellDef="let element">
                @if(element.editing){
                  <mat-form-field class="input">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="element[column]">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                }@else {
                  {{element[column] | date: 'dd/MM/yyyy'}}
                }
              </td>
            </ng-container>
          }
          @case ('action') {
            <ng-container matColumnDef="{{column}}">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                @if (element.editing) {
                  <div style="display: flow;">
                      <button mat-mini-fab color="primary" class="editingButtons" (click)="save(element)" >
                        <mat-icon>save</mat-icon>
                      </button >
                      <button mat-mini-fab color="warn" class="editingButtons" (click)="cancel(element)" >
                        <mat-icon>cancel</mat-icon>
                      </button>
                  </div>
                }@else {
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="edit(element)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit task</span>
                    </button>
                    <button mat-menu-item (click)="remove(element)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete task</span>
                    </button>
                  </mat-menu>
                }
              </td>
            </ng-container>
          }
          @default {
            <ng-container matColumnDef="{{column}}">
              <th mat-header-cell *matHeaderCellDef style="text-transform: uppercase;"> {{column}} </th>
              <td mat-cell *matCellDef="let element" >
                @if(element.editing){
                  <mat-form-field class="input"
                  [style.width.px]="column === 'id' ? 50 : 120">
                    @if(column === 'status'){
                      <mat-select [(value)]="element[column]">
                        @for (option of status; track option) {
                          <mat-option [value]="option.key">{{ option.value }}</mat-option>
                        }
                      </mat-select>
                    }@else{
                      <input matInput
                      [(ngModel)]="element[column]"
                      [disabled]="column === 'id'"
                      >
                    }

                  </mat-form-field>
                }@else {
                  @if(column === 'status'){
                    @for (option of status; track option) {
                      @if (option.key === element[column]) {
                        {{ option.value }}
                      }
                    }
                  }@else {
                    {{element[column]}}
                  }
                }

              </td>

            </ng-container>
          }
        }

      }

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

    </table>
    <mat-divider></mat-divider>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  aria-label="Select page of tasks">
    </mat-paginator>

  </div>
</div>
