<mat-sidenav-container >
  <mat-sidenav [@collapseMenu]="collapsed() ? 'collapsed' : 'expanded'" opened mode="side" [style.width]="sidenavWidth()" >
    <div>
      <button mat-icon-button (click)="toggleMenu()" style="margin-top: 5px;">
        <div class="square">
          <div class="t-symbol">T</div>
        </div>
      </button>
      @if(!collapsed() && isAskifyVisible){
        <span style="color: white; font-size: larger; margin-left: 20px;">Taskify</span>
      }
    </div>
    <mat-divider></mat-divider>
    <app-sidenav [collapsed]="collapsed()"  />
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left.px]="collapsed() ? 55 : 250" [@fadeInOut] class="content">
     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
