<mat-toolbar style="background-color: #673ab7;">
  <button mat-icon-button style="color: antiquewhite;" (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <p style="color: antiquewhite;">Angular Playground</p>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
     <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
