.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titulo h1 {
  font-size: 100px;
}

.titulo h1 span {
  background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
